@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Lato&display=swap");
.fundamentalStyles, .c-point .corpus1, .c-point .services, .c-point .shoppingCart-container, .c-point .aboutUs-container .aboutUs {
  background-color: rgb(6, 6, 6);
  align-items: center;
  padding: 1%;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
}

.buttonClassic, .c-point .services .grid-item .priceTagBuy .getMeButton, .c-point .shoppingCart-container .shoppingCart .item-container .button {
  width: 23%;
  background-color: rgb(12, 12, 12);
  padding: 0.3%;
  color: magenta;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 3.2vh;
  font-weight: bolder;
}

.fontSizeClassic, nav ul li, .c-point .corpus1 .text-container .text1, .c-point .corpus1 .text-container .text2, .c-point .services .grid-item .priceTagBuy #price, .c-point .aboutUs-container .aboutUs p {
  font-size: 3.8vh;
}

.fontSizeSmaller {
  font-size: 2vh;
}

.fontSizeBig, .c-point .corpus1 .text-container .title1, .c-point .aboutUs-container .aboutUs h1 {
  font-size: 7vh;
}

.fontSizeClassicR, .c-point .services .grid-item {
  font-size: 2.8vh;
}

.fontSizeSmallerR {
  font-size: 1vh;
}

.fontSizeBigR {
  font-size: 3.8vh;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 1%;
}

nav {
  background: black;
  border-bottom: gray outset 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}
nav ul {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 3fr 1fr 1fr;
}
nav ul li {
  margin: 1% 0 0 1%;
}
nav ul li a {
  text-decoration: none;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: rgb(16, 16, 16);
}
nav ul li .li1 .fatori {
  color: yellow;
}
nav ul li .li1 .it {
  color: magenta;
}
nav ul li .li1 .solutions {
  color: cyan;
}
nav ul li .li2 {
  color: yellow;
  padding: 3%;
}
nav ul li .li3 {
  color: magenta;
  padding: 3%;
}
nav ul li .li4 {
  color: cyan;
  padding: 1%;
}
nav ul li .li5 {
  color: white;
  padding: 3%;
}
@media screen and (max-width: 1400px) {
  nav {
    height: auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav ul li {
    font-size: 3.8vh;
    text-align: center;
    width: 100%;
    margin: 1% 0% 3%;
  }
  nav ul li .li1 img {
    margin: 0 15%;
    width: 50%;
  }
}

.c-point {
  margin-top: 5%;
}
.c-point .corpus1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: yellow;
}
.c-point .corpus1 .img-container1 img {
  width: 1000px;
  border-radius: 3px;
}
.c-point .corpus1 .text-container {
  text-align: center;
  padding: 1%;
}
.c-point .corpus1 .text-container .title1 {
  margin: 1%;
}
.c-point .corpus1 .text-container .text1 {
  margin: 1%;
}
.c-point .corpus1 .text-container .text2 {
  margin: 1%;
}
.c-point .corpus1:hover {
  background-color: rgb(12, 12, 12);
}
@media screen and (max-width: 1400px) {
  .c-point {
    margin-top: 45%;
  }
  .c-point .corpus1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .c-point .corpus1 .img-container1 img {
    width: 100%;
  }
}
.c-point .services {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  color: magenta;
}
.c-point .services .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 100%;
  text-align: center;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
}
.c-point .services .grid-item .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.c-point .services .grid-item .priceTagBuy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  padding: 1%;
}
.c-point .services .grid-item .priceTagBuy .getMeButton {
  display: flex;
  justify-content: flex-end;
}
.c-point .services .grid-item .priceTagBuy .getMeButton:hover {
  background-color: rgb(16, 16, 16);
  margin: 0 0 0.3% 0.3%;
}
.c-point .services .grid-item .priceTagBuy .getMeButton:active {
  background-color: magenta;
  color: black;
}
.c-point .services .grid-item .priceTagBuy #price {
  margin-right: 6%;
  display: flex;
  justify-content: flex-end;
}
.c-point .services .grid-item:hover {
  background-color: rgb(12, 12, 12);
}
@media screen and (max-width: 1400px) {
  .c-point .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.c-point .shoppingCart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  color: magenta;
}
.c-point .shoppingCart-container .shoppingCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-point .shoppingCart-container .shoppingCart .item-container .img-container img {
  width: 20%;
}
.c-point .shoppingCart-container .shoppingCart .item-container .button:hover {
  background-color: rgb(16, 16, 16);
}
.c-point .shoppingCart-container .shoppingCart .item-container .button:focus {
  background-color: magenta;
  color: black;
}
.c-point .shoppingCart-container .shoppingCart .item-container .numberOfUnits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 11%;
}
.c-point .aboutUs-container .aboutUs {
  color: cyan;
  text-align: center;
}
.c-point .aboutUs-container .aboutUs:hover {
  background-color: rgb(16, 16, 16);
}

.toastifyError {
  align-items: center;
  border-radius: 10px;
}

footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 1%;
  padding: 0.5%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
  color: white;
  font-size: 2vh;
}

footer:hover {
  background-color: rgb(12, 12, 12);
}

/*# sourceMappingURL=styles.css.map */
