.fundamentalStyles {
  background-color: rgb(6, 6, 6);
  align-items: center;
  padding: 1%;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
}
.buttonClassic {
  width: 23%;
  background-color: rgb(12, 12, 12);
  padding: 0.3%;
  color: magenta;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 3.2vh;
  font-weight: bolder;
}
.fontSizeClassic {
    font-size: 3.8vh;
}
.fontSizeSmaller {
    font-size: 2vh;
}
.fontSizeBig {
    font-size: 7vh;
}
.fontSizeClassicR {
    font-size: 2.8vh;
}
.fontSizeSmallerR {
    font-size: 1vh;
}
.fontSizeBigR {
    font-size: 3.8vh;
}