@use "mixins";
@use "extends";

@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Lato&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 1%;
}

nav {
  background: black;
  border-bottom: gray outset 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  ul {
    @include mixins.gridder(grid, 3fr 1fr 1fr 3fr 1fr 1fr);
    li {
      @extend .fontSizeClassic;
      margin: 1% 0 0 1%;
      a {
        text-decoration: none;
        border-radius: 5px;
      }
      a:hover {
        background-color: rgb(16, 16, 16);
      }
      .li1 {
        .fatori {
          color: yellow;
        }
        .it {
          color: magenta;
        }
        .solutions {
          color: cyan;
        }
      }
      .li2 {
        color: yellow;
        padding: 3%;
      }
      .li3 {
        color: magenta;
        padding: 3%;
      }
      .li4 {
        color: cyan;
        padding: 1%;
      }
      .li5 {
        color: white;
        padding: 3%;
      }
    }
  }
  @media screen and (max-width: 1400px) {
    height: auto;
    ul {
      @include mixins.flexer(flex, column, center);
      li {
        font-size: 3.8vh;
        text-align: center;
        width: 100%;
        margin: 1% 0% 3%;
        .li1 {
          img {
            margin: 0 15%;
            width: 50%;
          }
        }
      }
    }
  }
}

.c-point {
  margin-top: 5%;
  .corpus1 {
    @include mixins.flexer(flex, row, center);
    @extend .fundamentalStyles;
    color: yellow;
    .img-container1 {
      img {
        width: 1000px;
        border-radius: 3px;
      }
    }
    .text-container {
      text-align: center;
      padding: 1%;
      .title1 {
        margin: 1%;
        @extend .fontSizeBig;
      }
      .text1 {
        margin: 1%;
        @extend .fontSizeClassic;
      }
      .text2 {
        margin: 1%;
        @extend .fontSizeClassic;
      }
    }
  }
  .corpus1:hover {
    background-color: rgb(12, 12, 12);
  }
  @media screen and (max-width: 1400px) {
    margin-top: 45%;
    .corpus1 {
      @include mixins.flexer(flex, column, center);
      .img-container1 {
        img {
          width: 100%;
        }
      }
    }
  }
  // here starts services.html
  .services {
    @include mixins.supah-gridder(grid, 2fr 2fr 2fr, 1fr);
    @extend .fundamentalStyles;
    justify-content: center;
    color: magenta;
    .grid-item {
      @include mixins.flexer(flex, column, center);
      .img-container {
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
      @extend .fontSizeClassicR;
      height: 90%;
      width: 100%;
      text-align: center;
      margin: 5%;
      padding: 5%;
      border-radius: 10px;
      .priceTagBuy {
        @include mixins.flexer(flex, row, flex-end);
        margin-top: auto;
        padding: 1%;
        .getMeButton {
          @extend .buttonClassic;
          display: flex;
          justify-content: flex-end;
        }
        .getMeButton:hover {
          background-color: rgb(16, 16, 16);
          margin: 0 0 0.3% 0.3%;
        }
        .getMeButton:active {
          background-color: magenta;
          color: black;
        }
        #price {
          @extend .fontSizeClassic;
          margin-right: 6%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .grid-item:hover {
      background-color: rgb(12, 12, 12);
    }
    @media screen and (max-width: 1400px) {
      @include mixins.flexer(flex, column, center);
    }
  }

  // Cart.html
  .shoppingCart-container {
    @include mixins.flexer(flex, column, center);
    @extend .fundamentalStyles;
    margin-top: 3%;
    color: magenta;
    .shoppingCart {
      @include mixins.flexer(flex, row, center);
      .item-container {
        .img-container {
          img {
            width: 20%;
          }
        }
        .button {
          @extend .buttonClassic;
        }
        .button:hover {
          background-color: rgb(16, 16, 16);
        }
        .button:focus {
          background-color: magenta;
          color: black;
        }
        .numberOfUnits {
          @include mixins.flexer(flex, column, center);
          margin-left: 11%;
        }
      }
    }
  }

  // About us
  .aboutUs-container {
    .aboutUs {
      @extend .fundamentalStyles;
      color: cyan;
      text-align: center;
      h1 {
        @extend .fontSizeBig;
      }
      p {
        @extend .fontSizeClassic;
      }
    }
    .aboutUs:hover {
      background-color: rgb(16, 16, 16);
    }
  }
}

.toastifyError {
  align-items: center;
  border-radius: 10px;
}

footer {
  @include mixins.gridder(grid, 4fr 1fr);
  margin-top: 1%;
  padding: 0.5%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
  color: white;
  font-size: 2vh;
}
footer:hover {
  background-color: rgb(12, 12, 12);
}
